.menu {
	background-color:#408080;
	padding-top: 10px;
	width: 20%;
	height: 50%;
	color: white;
	margin-left: 0px;
	margin-top: 0%;
}
#a {
	color: black;
	
}

.div.container{
    margin-left:0%;


}


