.navigation-clean-button {
  margin:0;
  padding:0;
  background:#fff;
  padding-top:10px;
  padding-bottom:10px;
  color:#333;
  border-radius:0;
  box-shadow:none;
  border:none;
  margin-bottom:0;
  word-spacing: 4px;
  
}

@media (max-width:767px) {
  .navigation-clean-button {
    padding-top:0;
    padding-bottom:0;
  }
}

@media (max-width:767px) {
  .navigation-clean-button .navbar-header {
    padding-top:10px;
    padding-bottom:10px;
  }
}

@media (max-width:767px) {
  .navigation-clean-button .navbar-right {
    margin-bottom:20px;
  }
}

.navigation-clean-button .navbar-brand {
  font-weight:bold;
  color:inherit;
}



.navigation-clean-button .navbar-toggle {
  border-color:#ddd;
}


.navigation-clean-button.navbar .navbar-nav > li > a {
  padding-left:18px;
  padding-right:18px;
}




.navigation-clean-button.navbar-inverse {
  background-color:#1f2021;
  color:#fff;
}



.navigation-clean-button .actions {
  margin-top:7px;
  margin-bottom:0;
}


.navigation-clean-button.navbar-inverse .actions .login {

  color:white;
}


.navigation-clean-button .action-button, .navigation-clean-button .action-button:active {
  background:#56c6c6;
  border-radius:20px;
  color:#fff;
  box-shadow:none;
  border:none;
  text-shadow:none;
  padding:10px 22px;
  transition:background-color 0.25s;
}


